
UseTab: ForIndentation
TabWidth: 4
ColumnLimit: 80
IndentWidth: 4
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
ContinuationIndentWidth: 2
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
PointerBindsToType: true
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
