body{
    font-family: Arial, Helvetica, sans-serif  
}

.main{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 15px;
    margin: auto;
}

.buttons {
    display: inline-flex;
    max-width: fit-content;
    flex-direction: column;
    gap: 15px;
}

.buttons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.button {
    border: solid 1px;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px 10px;
    transition-duration: 0.4s;
}

.hello-button {
    border-color: #04AA6D;
    background-color: #04AA6D;
}

.hello-button:hover {
    background-color: #fff;
    border: solid 1px #04AA6D;
}

.get-button {
    border-color: #008CBA;
    background-color: #008CBA;
}

.get-button:hover {
    background-color: #fff;
    border: solid 1px #008CBA;
}

.get-button:active {
    background-color: #fff;
    border: solid 1px #008CBA;
}

.post-button {
    border-color: #f44336;
    background-color: #f44336;
}

.post-button:hover {
    background-color: #fff;
    border: solid 1px #f44336;
}

.button:active {
    background-color: #0000009a;
    transition-duration: 0.1s;
}

.ripes-window {
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    border: solid 1px black;
}

.ripes-window__text {
    margin: auto;
}