<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../static/handlers.js"></script>
    <script src="../static/server_requests.js"></script>
    <title>Ripes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
</head>

<body>
    <div class="ui wide container" style="margin-top: 50px; margin-bottom: 50px;">
        
        <h1 class="ui header">Задание</h1>
        <div class="ui segment">
            <p>Описание</p>
            <p>Для отправки задания нажмите на <img class="ui mini spaced image" src="../static/moodle.svg">в окне Ripes</p>
        </div>
        <div class="ui embed">
            <iframe src="../static/ripes/Ripes.html?session_id={{ session_id | urlencode }}" style="width: 100%; height: 100%; border: none;"></iframe>
        </div>
        <a class="ui blue button" style="margin-top: 25px;" href="statistic/{{ session_id }}">Статистика</a>
    </div>
    <br>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
</body>

</html>