<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="../static/handlers.js"></script>
    <script src="../static/server_requests.js"></script>
    <title>Ripes</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="main">
        <h1>Index page</h1>
        <div class="buttons">
            <button onclick="hello_handler()" class="button hello-button">Print Hello</button>
            <div class="buttons-list">
                <button onclick="server_get_request()" class="button get-button">GET</button>
                <button onclick="server_post_request()" class="button post-button">POST</button>
                <button onclick="send_grade_to_moodle('{{ session_id }}')" class="button get-button">Send grade</button>
            </div>
        </div>
        <label for="grade_slider">Grade:</label>
        <input type="range" id="grade_slider" min="0" max="10" step="1" value="5" style="width: 250px"
               oninput="update_slider_value(this.value)">
        <div id="slider_value">0.5</div>
        <iframe src="../static/ripes/Ripes.html" width="1300px" height="470px"></iframe>
    </div>
</body>

</html>
