<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Курс разработки на Assembler</title>
  </head>
  <body>
    <div class="task">
      <h1>Задание {{ task_id }}</h1>

      <div class="task_buttons">
        <button type="button">Подключится</button>
        <button type="button">Проверить</button>
        <button type="button">Перезапустить</button>
      </div>
    </div>
  </body>
</html>
