[Desktop Entry]
Type=Application
Name=Ripes
Comment=A graphical processor simulator and assembly editor for the RISC-V ISA (https://github.com/mortbopet/Ripes)
Exec=Ripes
Icon=Ripes
Categories=Education;Utility;
