name: Ubuntu 20.04 / Qt 5.12--
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  buildUbuntuFocal:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04

    steps:
    - name: get container ready for build
      run: |
        apt-get update
        apt-get upgrade -y
        DEBIAN_FRONTEND=noninteractive apt-get install -y -q --force-yes \
        automake cmake g++ git wget libfuse2 desktop-file-utils tree \
        build-essential libgl1-mesa-dev libxkbcommon-x11-0 libpulse-dev

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.15.2'
        modules: 'qtcharts qtsvg'
        install-deps: false

    - name: checkout sources
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: build Ripes
      run: |
        echo "--------------------------------------------------------------"
        echo "building desktop"
        # now build for the desktop version
        cmake -DCMAKE_BUILD_TYPE=Release .
        make -j $(nproc)
        echo "Post build folder contents:"
        ls -lh

    - name: Package artifacts
      run: |
        # Move bin to appdir
        mkdir -p appdir/usr/bin/
        mv Ripes appdir/usr/bin/
        
        tree appdir
        
        wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
        chmod a+x linuxdeployqt-continuous-x86_64.AppImage
        unset QTDIR; unset QT_PLUGIN_PATH ; unset LD_LIBRARY_PATH
        export VERSION=continuous-linux # linuxdeployqt uses this for naming the package
        ./linuxdeployqt-continuous-x86_64.AppImage appdir/usr/share/applications/*.desktop \
          -appimage -verbose 2 -extra-plugins=iconengines

        echo "Post bundle folder contents:"
        ls -lh

    - name: Continuous release
      uses: softprops/action-gh-release@v1
      if: github.ref == 'refs/heads/master'
      with:
        prerelease: true
        name: Continuous
        files: Ripes*.AppImage*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Tagged release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: Ripes*.AppImage*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
